@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Sanjog Way<br />
    Balkumari 9, Lalitpur, Nepal<br />
    <abbr title="Phone">P:</abbr>
   015-24-628
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@sanjog.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@sanjog.com</a>
</address>
